 <!--header start-->
 <header id="masthead" class="header cmt-header-style-01">
    <!-- cmt-header-wrap -->
    <div class="cmt-header-wrap">
        <!-- cmt-stickable-header-w -->
        <div id="cmt-stickable-header-w" class="cmt-stickable-header-w clearfix">
            <div id="site-header-menu" class="site-header-menu">
                <div class="site-header-menu-inner cmt-stickable-header visible-title">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <!-- cmt-topbar-wrapper -->
                                <div class="cmt-topbar-wrapper cmt-bgcolor-darkgrey cmt-textcolor-white clearfix">
                                    <div class="cmt-topbar-content">
                                        <div class="topbar-right text-right">
                                            <ul class="top-contact">
                                                <li><span class="tel-no"> Your Trusted 24 Hours Service Provider!</span></li>
                                                <li><i class="fa fa-envelope-o"></i><a href="mailto:vidalnwami@gmail.com">vidalnwami@gmail.com</a></li>
                                                <li><i class="fa fa-phone"></i>(+237)-694-391-158</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div><!-- cmt-topbar-wrapper end -->
                                <!-- site-branding -->
                                <div class="site-branding">
                                    <a class="home-link" href="#" title="Brain's engireering" rel="home">
                                        <img id="logo-img" class="img-center" src="assets/images/logo-brainsengineering.png"  height="100px" width="150px" alt="logo-img">
                                    </a>
                                </div><!-- site-branding end -->
                                <!--site-navigation -->
                                <div id="site-navigation" class="site-navigation cmt-textcolor-white">
                                    <!-- social-links-wrapper -->
                                    <div class="cmt-social-links-wrapper list-inline">
                                        <ul class="social-icons square">
                                            <li><a href="#"><i class="ti ti-facebook"></i></a>
                                            </li>
                                            <li><a href="#"><i class="ti ti-twitter"></i></a>
                                            </li>
                                            <li><a href="#"><i class="ti ti-google"></i></a>
                                            </li>
                                            <li><a href="#"><i class="ti ti-linkedin"></i></a>
                                            </li>
                                        </ul>
                                    </div><!-- social-links-wrapper -->
                                    <!-- header-icons -->
                                    <div class="cmt-header-icons ">
                                        <div class="cmt-header-icon cmt-header-search-link">
                                            <a href="#"><i class="fa fa-search"></i></a>
                                            <div class="cmt-search-overlay">
                                                <form method="get" class="cmt-site-searchform" action="#">
                                                    <div class="w-search-form-h">
                                                        <div class="w-search-form-row">
                                                            <div class="w-search-input">
                                                                <input type="search" class="field searchform-s" name="s" placeholder="Type Word Then Enter...">
                                                                <button type="submit">
                                                                    <i class="ti ti-search"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div><!-- header-icons end -->
                                    <div class="cmt-menu-toggle">
                                        <input type="checkbox" id="menu-toggle-form" />
                                        <label for="menu-toggle-form" class="cmt-menu-toggle-block">
                                            <span class="toggle-block toggle-blocks-1"></span>
                                            <span class="toggle-block toggle-blocks-2"></span>
                                            <span class="toggle-block toggle-blocks-3"></span>
                                        </label>
                                    </div>
                                    <!-- nav -->
                                    <nav id="menu" class="menu">
                                        <ul class="dropdown">
                                           <li class="active"><a href="#">Home</a>
                                                <ul>
                                                    <li class="active"><a href="#"> Home</a></li>
                                                    <!--<li><a href="home-2.html">Sample Homepage 2</a></li>
                                                    <li><a href="home-3.html">Sample Homepage 3</a></li>
                                                    <li><a href="home-4.html">Sample Homepage 4<span class="label-new">New</span></a></li>
                                                    <li><a href="home-onepage.html">Sample Homepage One<span class="label-new">New</span></a></li>
                                                    <li><a href="#">Header Styles</a>
                                                        <ul>
                                                            <li><a href="index.html">Header Style 01</a></li>
                                                            <li><a target="_blank" href="header-style-02.html">Header Style 02</a></li>
                                                            <li><a target="_blank" href="header-style-03.html">Header Style 03</a></li>
                                                            <li><a target="_blank" href="header-style-04.html">Header Style 04</a></li>
                                                        </ul>
                                                    </li> -->
                                                </ul>
                                            </li>
                                            <li><a routerLink="/about-us" >About Us</a>
                                                <ul>
                                                    <li><a  routerLink="/about-us">About Us </a></li>
                                                   <!-- <li><a href="aboutus-2.html">About Us 2</a></li>
                                                    <li><a href="services-1.html">Service 1</a></li>
                                                    <li><a href="services-2.html">Service 2</a></li>
                                                    <li><a href="our-team.html">Our Team</a></li>
                                                    <li><a href="faq.html">FAQs</a></li>
                                                    <li><a href="error.html">Error Page</a></li>
                                                    <li><a href="element.html">Elements</a></li>  -->
                                                </ul>
                                            </li>
                                           <li><a routerLink="/services">Services</a>
                                                <ul>
                                                    <li><a routerLink="/services">Services</a></li>

                                                   <!-- <li><a href="apartment-design.html">Apartment Design</a></li> 
                                                   <li><a href="house-planning.html">House Planning</a></li>
                                                    <li><a href="repair-welding.html">Repair Welding</a></li>
                                                    <li><a href="expert-mechanical.html">Expert Mechanical</a></li>
                                                    <li><a href="management.html">Management</a></li>
                                                    <li><a href="general-contracting.html">General Contracting</a></li>  -->
                                                </ul>
                                            </li>
                                            <li><a routerLink="/formation">Formation</a>
                                                <ul>
                                                    <li><a routerLink="/formation">Formation</a></li>

                                                  <!--  <li><a href="portfolio-style-2.html">Project Style 2</a></li>
                                                    <li><a href="portfolio-single.html">Project Single</a></li>   -->
                                                </ul> 
                                            </li>
                                            <li><a routerLink="/blog">Blog</a>
                                                <ul>
                                                    <li><a routerLink="/blog">Blog</a></li>
                                                   <!--- <li><a href="blog-grid.html">Blog Grid</a></li>
                                                    <li><a href="single-blog.html">Single Blog View</a></li>  -->>
                                                </ul>
                                            </li>
                                            <li><a routerLink="/contact-us">Contact Us</a></li>
                                        </ul>
                                    </nav><!-- nav end-->
                                </div><!-- site-navigation end-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- cmt-stickable-header-w end-->
    </div><!--cmt-header-wrap end -->
</header><!--header end-->
