
  <!--site-main start-->
  <div class="site-main">

    <!-- error-404 -->
    <section class="error-404">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="cmt-big-icon cmt-textcolor-skincolor">
                        <i class="fa fa-thumbs-o-down"></i>
                    </div>
                    <header class="page-header"><h1 class="page-title">404 ERROR</h1></header>
                    <div class="page-content"> <p>This page may have been moved or deleted. Be sure to check your spelling.</p></div>
                    <a class="cmt-btn cmt-btn-size-md cmt-btn-shape-square cmt-btn-style-border cmt-btn-color-darkgrey mb-15" routerLink="/index">Back To Home</a>
                </div>
            </div>
        </div>
    </section>
    <!-- error-404 end -->
</div><!--site-main end-->